@page "/"
@using HMGMT.Shared.Models
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavMan;
@inject HttpClient Http


<PageTitle>Dashboard</PageTitle>
<div class="container-fluid">
    <h1>DASHBOARD</h1>
    <br/>
    <MainCard @ref="thermostatCard"
              Header="THERMOSTAT"
              IconSource="assets/thermostat.png"
              UpMethod="ThermostatUpClicked"
              DownMethod="ThermostatDownClicked"
              NavToDetails="NavigateToThermostat"
              DeviceTemp="@_thermostatModel?.DampedOutdoorTemperature.ToString("G")"
              IconWidth="50"/>
    <br/>
    <MainCard Header="BOILER"
              IconSource="assets/boiler.png"
              IconWidth="60"
              DeviceTemp="@_boilerModel?.CurrentFlowTemperature.ToString("G")"
              NavToDetails="NavigateToBoiler"/>

    <br/>
    <h1>MIXERS</h1>
</div>
<br/>
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card" style="background-color: #11E3C7; border-radius: 1.5em">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="card-title">MM100</h2>
                                <p class="pt-4">
                                    <SfSwitch CssClass="custom-iOS" Checked="ischecked"/>
                                </p>
                            </div>
                        </div>
                        <div class="row text-end">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="5" viewBox="0 0 19 5">
                                    <g id="btn_more" transform="translate(-278 -501)">
                                        <circle id="Ellipse_2" data-name="Ellipse 2" cx="2.5" cy="2.5" r="2.5" transform="translate(285 501)"/>
                                        <circle id="Ellipse_3" data-name="Ellipse 3" cx="2.5" cy="2.5" r="2.5" transform="translate(292 501)"/>
                                        <circle id="Ellipse_4" data-name="Ellipse 4" cx="2.5" cy="2.5" r="2.5" transform="translate(278 501)"/>
                                    </g>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" style="background-color: #11E3C7; border-radius: 1.5em">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="card-title">MM101</h2>
                                <p class="pt-4">
                                    <SfSwitch CssClass="custom-iOS" Checked="ischecked"/>
                                </p>
                            </div>
                        </div>
                        <div class="row text-end">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="5" viewBox="0 0 19 5">
                                    <g id="btn_more" transform="translate(-278 -501)">
                                        <circle id="Ellipse_2" data-name="Ellipse 2" cx="2.5" cy="2.5" r="2.5" transform="translate(285 501)"/>
                                        <circle id="Ellipse_3" data-name="Ellipse 3" cx="2.5" cy="2.5" r="2.5" transform="translate(292 501)"/>
                                        <circle id="Ellipse_4" data-name="Ellipse 4" cx="2.5" cy="2.5" r="2.5" transform="translate(278 501)"/>
                                    </g>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" style="background-color: #11E3C7; border-radius: 1.5em">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="card-title">MM102</h2>
                                <p class="pt-4">
                                    <SfSwitch CssClass="custom-iOS" Checked="ischecked"/>
                                </p>
                            </div>
                        </div>
                        <div class="row text-end">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="5" viewBox="0 0 19 5">
                                    <g id="btn_more" transform="translate(-278 -501)">
                                        <circle id="Ellipse_2" data-name="Ellipse 2" cx="2.5" cy="2.5" r="2.5" transform="translate(285 501)"/>
                                        <circle id="Ellipse_3" data-name="Ellipse 3" cx="2.5" cy="2.5" r="2.5" transform="translate(292 501)"/>
                                        <circle id="Ellipse_4" data-name="Ellipse 4" cx="2.5" cy="2.5" r="2.5" transform="translate(278 501)"/>
                                    </g>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .e-switch-wrapper.custom-iOS .e-switch-inner.e-switch-active,
    .e-switch-wrapper.custom-iOS:hover .e-switch-inner.e-switch-active .e-switch-on {
        background-color: #000;
        border-color: #000;
    }

    .e-switch-wrapper.custom-iOS {
        width: 42px;
        height: 25px;
    }

        .e-switch-wrapper.custom-iOS .e-switch-handle {
            width: 20px;
            height: 20px;
        }

            .e-switch-wrapper.custom-iOS .e-switch-handle.e-switch-active {
                margin-left: -22px;
            }

    .e-switch-wrapper.custom-iOS .e-switch-handle {
            background-color: #11E3C7;
    }

</style>

@code {
    MainCard? boilerCard;
    MainCard? thermostatCard;
    BoilerModel? _boilerModel;
    ThermostatModel? _thermostatModel;
    readonly string _baseUrl = @"http://localhost:5039/api";
    bool ischecked = false;

    protected override async Task OnInitializedAsync()
    {
        _boilerModel = await Http.GetFromJsonAsync<BoilerModel>(_baseUrl + "/boiler");
        _thermostatModel = await Http.GetFromJsonAsync<ThermostatModel>(_baseUrl + "/thermostat");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("initSwiper", null);
    }

    void ThermostatUpClicked()
    {
    //TODO: THERMOSTAT UP
        var oldTemp = _thermostatModel?.DampedOutdoorTemperature + 0.5;
        if (_thermostatModel != null)_thermostatModel.DampedOutdoorTemperature += 0.5;
        if (thermostatCard != null) thermostatCard.DeviceTemp = oldTemp?.ToString("F1");
    }

    void ThermostatDownClicked()
    {
    //TODO: THERMOSTAT DOWN
        var oldTemp = _thermostatModel?.DampedOutdoorTemperature - 0.5;
        if (_thermostatModel != null) _thermostatModel.DampedOutdoorTemperature -= 0.5;
        if (thermostatCard != null) thermostatCard.DeviceTemp = oldTemp?.ToString("F1");
    }

    void NavigateToThermostat()
    {
        NavMan.NavigateTo("/thermostatdata");
    }

    void NavigateToBoiler()
    {
        NavMan.NavigateTo("/boilerdata");
    }





}