@page "/thermostatdata"
@using System.Reflection
@using HMGMT.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavMan;

<div class="container-fluid pt-2">
    <div class="row">
        <span @onclick="NavBack" style="cursor: pointer">
            <img src="assets/back.png" width="20" />
        </span>
    </div>
    <br />
    <div class="row">
        <div class="col-8">
            <h1>THERMOSTAT</h1>
        </div>
        <div class="col-4 text-end">
            <img src="assets/thermostat_accent.png" width="50" />
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h1 style="color: #11E3C7;">@_model?.DampedOutdoorTemperature.ToString("G") °C</h1>
        </div>
    </div>
    <div class="row">
        <table class="table tab hmgmt-table">
            <tbody>
            @if (_model != null)
            {
                PropertyInfo[] properties = typeof(ThermostatModel).GetProperties();
                foreach (PropertyInfo property in properties)
                {
                    <tr>
                        <td style="font-weight:700">@property.Name</td>
                        <td class="text-end">@property.GetValue(_model)?.ToString()</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    ThermostatModel? _model;
    readonly string _baseUrl = @"http://localhost:5039/api/";

    protected override async Task OnInitializedAsync()
    {
        _model = await Http.GetFromJsonAsync<ThermostatModel>(_baseUrl + "thermostat");
    }

    void NavBack()
    {
        NavMan.NavigateTo("/");
    }
}
