<div class="card" style="background-color: #11E3C7; border-radius: 1.5em">
    <div class="card-body">
        <div class="container-fluid" style="min-width: 100px">
            <div class="row">
                <div class="col-12">
                    <h2 class="card-title">@Header</h2>
                    <p class="pt-4">
                        <SfSwitch CssClass="custom-iOS" Checked="IsEnabled"/>
                    </p>
                </div>
            </div>
            <div class="row text-end">
                <MoreButtonGroup NavToDetails="(() => InvokeNavToDetails())"/>
            </div>
        </div>
    </div>
</div>
<style>.e-switch-wrapper.custom-iOS .e-switch-inner.e-switch-active,
       .e-switch-wrapper.custom-iOS:hover .e-switch-inner.e-switch-active .e-switch-on {
           background-color: #000;
           border-color: #000;
       }
       
       .e-switch-wrapper.custom-iOS {
           width: 42px;
           height: 25px;
       }
       
       .e-switch-wrapper.custom-iOS .e-switch-handle {
           width: 20px;
           height: 20px;
       }
       
       .e-switch-wrapper.custom-iOS .e-switch-handle.e-switch-active {
           margin-left: -22px;
       }
       
       .e-switch-wrapper.custom-iOS .e-switch-handle {
           background-color: #11E3C7;
       }
</style>
@code {
    [Parameter]
    public string? Header { get; set; }
    
    [Parameter]
    public Action? NavToDetails { get; set; }
    
    private void InvokeNavToDetails()
    {
        NavToDetails?.Invoke();
    }

    bool IsEnabled { get; set; } = true;
}